

.timelineTop {
  margin-top: 3rem;
  position: relative;
}
.subGridCell {
  width: fit-content;
}
.whtIcon {
  color: #ffffff;
}
.skillsList {
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.skillGrid {

}
.skillsListItem {
  margin: 3rem auto;
}
.skillsCenterCell {
  margin: 0 3rem;
  border: 1px solid #ffffff;
  padding: 1rem;
  border-radius: 0 15px 0 15px;
}
.experienceItem {
  text-align: initial;
}
.timelineConnector {
  height: 5rem;
}
.expSubItem {
  border: 1px solid #ffffff;
  padding: .5rem 1.5rem;
  border-radius: 0 15px 0 15px;
}
.workGridCell {

}
.workMidCell {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 0 15px 0 15px;
}
.worksDetailGrid {
  /* border: 1px solid black; */
  margin: 0 auto !important;
}
.worksDetailselectList {
  list-style-type: none;
  padding: 0;
}
.worksControls {
  margin: 0 1rem;
}
.fa-caret-up, .fa-caret-down {
  color: #FFB637;
}
.fa-caret-up:hover, .fa-caret-down:hover {
  -webkit-animation: redColorGlow .5s ease-in-out;
  -moz-animation: redColorGlow .5s ease-in-out;
  animation: redColorGlow .5s ease-in-out;
}
.redBlink {
  -webkit-animation: redColorGlow .5s ease-in-out;
  -moz-animation: redColorGlow .5s ease-in-out;
  animation: redColorGlow .5s ease-in-out;
}
.mainGridContainerWorks {
  /* width: 100%; */
}
.edgeCell {
  overflow: scroll;
}
.linkCenterCell {
  /* border: 1px solid black; */
}
.linkGridContainer {
  margin: 10vh auto !important;
}
.selectedLink {
  border: 1px solid #ffffff;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 0 15px 0 15px;
}

@media only screen and (max-width: 420px) {
  .edgeCell {
    margin: 1rem auto !important;
  }
  .worksControls {
    margin: 0;
  }
  .expSubItem {
    position: absolute;
    z-index: 2;
    background-color: #253142;
  }
}


@keyframes redColorGlow {
  0% {color: #FF5F5B}
  50% {color: #ffffff}
  100% {color: #FF5F5B}
}
@-webkit-keyframes redColorGlow {
  0% {color:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {color:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {color:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes redColorGlow {
  0% {color:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {color:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {color:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}
@-webkit-keyframes redBorderGlow {
  0% {border:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {border:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes redBorderGlow {
  0% {border:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {border:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}
@keyframes redBorderGlow {
  0% {border:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {border:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}

@-webkit-keyframes yellowBorderGlow {
  0% {border:2px solid #FFB637; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FFB637}
  100% {border:2px solid #FFB637; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes yellowBorderGlow {
  0% {border:2px solid #FFB637; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FFB637}
  100% {border:2px solid #FFB637; box-shadow: 0 0 0px #ffffff}
}
@keyframes yellowBorderGlow {
  0% {border:2px solid #FFB637; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FFB637}
  100% {border:2px solid #FFB637; box-shadow: 0 0 0px #ffffff}
}
@-webkit-keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}
@keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}

@keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}
