

.timelineTop {
  margin-top: 3rem;
}
.subGridCell {
  width: fit-content;
}
.skillsList {
  padding: 0;
  list-style-type: none;
}
.skillGrid {

}
.skillsListItem {
  margin: 3rem auto;
}
.skillsCenterCell {
  margin: 0 3rem;
  border: 1px solid #ffffff;
  padding: 1rem;
  border-radius: 0 15px 0 15px;
}
.experienceItem {
  text-align: initial;
}
.timelineConnector {
  height: 5rem;
}
.expSubItem {
  border: 1px solid #ffffff;
  padding: .5rem 1.5rem;
  border-radius: 0 15px 0 15px;
}
.workGridCell {

}
.workMidCell {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 0 15px 0 15px;
}
.worksDetailGrid {
  /* border: 1px solid black; */
  margin: 0 auto !important;
}
.worksDetailselectList {
  list-style-type: none;
  padding: 0;
}
.mainGridContainerWorks {
  /* width: 100%; */
}
.edgeCell {
  overflow: scroll;
}
.linkCenterCell {
  /* border: 1px solid black; */
}
.linkGridContainer {
  margin: 10vh auto !important;
}
.selectedLink {
  border: 1px solid #ffffff;
  margin: 0 auto;
  width: fit-content;
  padding: 1rem 3rem;
  border-radius: 0 15px 0 15px;
}


@-webkit-keyframes redBorderGlow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #FF5F5B, 0 0 9px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B, 0 0 15px #FF5F5B;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #FF5F5B, 0 0 8px #FF5F5B, 0 0 10px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B;
  }
}
@-moz-keyframes yellowBorderGlow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #FFB637, 0 0 9px #FFB637, 0 0 11px #FFB637, 0 0 13px #FFB637, 0 0 15px #FFB637;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #FFB637, 0 0 8px #FFB637, 0 0 10px #FFB637, 0 0 11px #FFB637, 0 0 13px #FFB637;
  }
}
@keyframes greenBorderGlow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #04CC80, 0 0 9px #04CC80, 0 0 11px #04CC80, 0 0 13px #04CC80, 0 0 15px #04CC80;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #04CC80, 0 0 8px #04CC80, 0 0 10px #04CC80, 0 0 11px #04CC80, 0 0 13px #04CC80;
  }
}
