.timelineTop {
  margin-top: 3rem;
}
.subGridCell {
  width: fit-content;
}
.skillsList {
  padding: 0;
  list-style-type: none;
}
.skillGrid {
  /* border: 1px solid black; */
}
.skillsListItem {
  margin: 3rem auto;
}
.experienceItem {
  text-align: initial;
}
.timelineConnector {
  height: 5rem;
}
.expSubItem {
  border: 1px solid black;
}
.workGridCell {
  border: 1px solid black;
}
.workMidCell {
  height: 60vh;
}
.worksDetailGrid {
  border: 1px solid black;
}
.worksDetailselectList {
  list-style-type: none;
  padding: 0;
}
.edgeCell {
  overflow: scroll;
}
.linkCenterCell {
  border: 1px solid black;
}
.linkGridContainer {
  margin: 15vh auto !important;
}
