.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.introLogo {
  height: 15rem;
  border-radius: 50%;
  border: 2px solid white;
}
.intro2Logo {
  height: 5rem;
  border-radius: 50%;
}
.over {
  /* border: 1px solid yellow; */
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 7%;
  /* z-index: -2; */
  /* background-image: url("./assets/skillwheel.png"); */
}
.introDiv {
  width: 85%;
  margin: 0 auto;
}
.skillwheel {
  max-height: 120vh;
}
.bioHeader {
  color: #ffffff;
}
.bioText {
  line-height: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
  .over {
    animation: App-logo-spin infinite 50s linear;
  }
}


.App-header {
  /* background-color: #253142; */
  /* background-color: #282c34; */
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  color: #ffffff;
  margin: 0;
}

.main-content {
  background-color: #000000;
  /* background-color: #253142; */
  /* background-color: #212121; */
}

.paper {
  /* padding: 2; */
  textAlign: center;
  background-color: rgba(0,0,0,0) !important;

  border-radius: 15px 0 15px 0 !important;
}

.redBorder {
  border: 2px solid #FF5F5B !important;
}
.redButton {
  border: 1px solid #FF5F5B !important;
}
.redButton > .MuiButton-label {
  color: #FF5F5B !important;
}
.yellowBorder {
  border: 2px solid #FFB637 !important;
}
.yellowButton {
  border: 1px solid #FFB637 !important;
}
.yellowButton > .MuiButton-label {
  color: #FFB637 !important;
}
.greenBorder {
  border: 2px solid #04CC80 !important;
}
.greenButton {
  border: 1px solid #04CC80 !important;
}
.greenButton > .MuiButton-label {
  color: #04CC80 !important;
}
.root {
  flexGrow: 1;
}
.MuiGrid-grid-xs-12 {
  /* max-width: fit-content !important; */
  margin: 1rem auto !important;
}
.MuiGrid-grid-xs-8, .MuiGrid-grid-xs-7 {
  margin: 1rem 0 !important;
}
.MuiGrid-grid-xs-3 {
  margin-top: 3rem !important;
}
.text {
  margin: 0;
}
.mainGridContainer {
  padding: 1rem;
}

.mainPaper {
  position: relative;
  text-align: center;
  height: 90vh;
  /* border: 1px solid #ffffff; */
  border-radius: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 0 3rem;
  overflow: scroll;
  margin: 5vh 5vw 5vh 0;
}

.mainMenuList {
  padding: 0;
  list-style-type: none;
  text-align: left;
  padding-left: 1rem;
}
.mainMenuListItem {
  margin: 3rem auto;

}

.MuiButton-outlinedPrimary {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
}
