.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.introLogo {
  height: 13rem;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.paper {
  /* padding: 2; */
  textAlign: center;
  /* color: #ffffff; */
}
.root {
  flexGrow: 1;
}
.MuiGrid-grid-xs-12 {
  /* max-width: fit-content !important; */
  margin: 1rem auto !important;
}
.MuiGrid-grid-xs-8, .MuiGrid-grid-xs-7 {
  margin: 1rem 0 !important;
}
.MuiGrid-grid-xs-3 {
  margin-top: 3rem !important;
}
.text {
  margin: 0;
}
.mainGridContainer {
  padding: 1rem;
}

.mainPaper {
  text-align: center;
  height: 95vh;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 0 3rem;
  overflow: scroll;
}
.mainMenuList {
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.mainMenuListItem {
  margin: 3rem auto;
}
