
@import url('/assets/VT323-Regular.ttf');

.mobile {
  display: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.introLogo {
  height: 15rem;
  border-radius: 50%;
  border: 2px solid white;
}
.intro2Logo {
  height: 5rem;
  border-radius: 50%;
}
.over {
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 7%;
}
.introDiv {
  width: 85%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px 0 15px 0;
}

.skillwheel {
  max-height: 120vh;
}
.bioHeader {
  color: #ffffff;
}
.bioText {
  line-height: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .over {
    animation: App-logo-spin infinite 50s linear;
  }
}


.App-header {
  background-color: #253142;
  /* background-color: #282c34; */
  /* background-color: #000000; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p {
  font-family: 'VT323', monospace;
  color: #ffffff;
  margin: 0;
}
h1, h2, h3, h4, h5 {
  color: #ffffff;
  font-family: 'VT323', monospace;
}
.MuiButton-root {
  font-family: 'VT323', monospace !important;
}

.redBorderGlow {
  -webkit-animation: redBorderGlow 2.5s ease-in-out infinite alternate;
  -moz-animation: redBorderGlow 2.5s ease-in-out infinite alternate;
  animation: redBorderGlow 2.5s ease-in-out infinite alternate;
}
.yellowBorderGlow {
  -webkit-animation: yellowBorderGlow 2.5s ease-in-out infinite alternate;
  -moz-animation: yellowBorderGlow 2.5s ease-in-out infinite alternate;
  animation: yellowBorderGlow 2.5s ease-in-out infinite alternate;
}
.greenBorderGlow {
  -webkit-animation: xBorderGlow 2.5s ease-in-out infinite alternate;
  -moz-animation: xBorderGlow 2.5s ease-in-out infinite alternate;
  animation: xBorderGlow 2.5s ease-in-out infinite alternate;
}

.main-content {
  /* background-color: #000000; */
  background-color: #253142;
  /* background-color: #212121; */
}

.paper {
  /* padding: 2; */
  textAlign: center;
  background-color: rgba(0,0,0,0) !important;

  border-radius: 15px 0 15px 0 !important;
}
.redBg {
  background-color: #FF5F5B !important;
}
.yellowBg {
  background-color: #FFB637 !important;
}
.greenBg {
  background-color: #04CC80 !important;
}
.redBorder {
  border: 2px solid #FF5F5B !important;
}
.redButton {
  border: 1px solid #FF5F5B !important;
}
.redButton > .MuiButton-label {
  color: #FF5F5B !important;
}
.yellowBorder {
  border: 2px solid #FFB637 !important;
}
.yellowButton {
  border: 1px solid #FFB637 !important;
}
.yellowButton > .MuiButton-label {
  color: #FFB637 !important;
}
.greenBorder {
  border: 2px solid #04CC80 !important;
}
.greenButton {
  border: 1px solid #04CC80 !important;
}
.greenButton > .MuiButton-label {
  color: #04CC80 !important;
}
.root {
  flexGrow: 1;
}
.MuiGrid-grid-xs-12 {
  /* max-width: fit-content !important; */
  margin: 1rem auto !important;
}
.MuiGrid-grid-xs-8, .MuiGrid-grid-xs-7 {
  margin: 1rem 0 !important;
}
.MuiGrid-grid-xs-3 {
  margin-top: 3rem !important;
}
.text {
  margin: 0;
}
.mainGridContainer {
  padding: 1rem;
}
.mainGridContainer .mobile {
  position: relative;
}
.mainMenuListMobile {
  position: absolute;
  left: 0;
  list-style-type: none;
  padding: 0;
}

.mainPaper {
  position: relative;
  text-align: center;
  height: 90vh;
  /* border: 1px solid #ffffff; */
  border-radius: 25px 0 25px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 0 3rem;
  overflow: scroll;
  margin: 5vh 0 5vh 0;
}

.mainMenuList {
  padding: 0;
  list-style-type: none;
  text-align: left;
  padding-left: 1rem;
}
.mainMenuListItem {
  margin: 3rem auto;

}

.MuiButton-outlinedPrimary {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
}


@media only screen and (max-width: 420px) {
  .desktop {
    display: none;
  }
  .intropg {
    overflow-x: hidden;
    padding: 1rem;
  }
  .main-content {
    overflow-x: hidden;
  }
  .MuiGrid-grid-xs-3 {
    margin-top: 1.5rem !important;
  }
  .MuiGrid-grid-xs-12 {
    margin: 0 !important;
  }
  .mainPaper {
    margin: 0;
    padding: .5rem;
  }
  .skillwheel {
    display: none;
  }
}



/*glow*/


/* @-webkit-keyframes redBorderGlow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #FF5F5B, 0 0 9px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B, 0 0 15px #FF5F5B;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #FF5F5B, 0 0 8px #FF5F5B, 0 0 10px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B;
  }
}
@-moz-keyframes redBorderGlow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #FF5F5B, 0 0 9px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B, 0 0 15px #FF5F5B;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #FF5F5B, 0 0 8px #FF5F5B, 0 0 10px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B;
  }
}
@keyframes redBorderGlow {
  from {
    box-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #FF5F5B, 0 0 9px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B, 0 0 15px #FF5F5B;
  }
  to {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #FF5F5B, 0 0 8px #FF5F5B, 0 0 10px #FF5F5B, 0 0 11px #FF5F5B, 0 0 13px #FF5F5B;
  }
} */


/* FF5F5B
FFB637
04CC80 */

@-webkit-keyframes redBorderGlow {
  0% {border:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {border:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes redBorderGlow {
  0% {border:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {border:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}
@keyframes redBorderGlow {
  0% {border:2px solid #FF5F5B; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FF5F5B}
  100% {border:2px solid #FF5F5B; box-shadow: 0 0 0px #ffffff}
}

@-webkit-keyframes yellowBorderGlow {
  0% {border:2px solid #FFB637; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FFB637}
  100% {border:2px solid #FFB637; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes yellowBorderGlow {
  0% {border:2px solid #FFB637; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FFB637}
  100% {border:2px solid #FFB637; box-shadow: 0 0 0px #ffffff}
}
@keyframes yellowBorderGlow {
  0% {border:2px solid #FFB637; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #FFB637}
  100% {border:2px solid #FFB637; box-shadow: 0 0 0px #ffffff}
}
@-webkit-keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}
@-moz-keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}
@keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}

@keyframes xBorderGlow {
  0% {border:2px solid #04CC80; box-shadow: 0 0 1px #ffffff}
  50% {border:2px solid #ffffff; box-shadow: 0 0 10px #04CC80}
  100% {border:2px solid #04CC80; box-shadow: 0 0 0px #ffffff}
}
